.movie-grid-section {
  padding: 40px 0;
}

.movie-grid-container {
  max-width: 100%;
  margin-left: 40px;
}

.section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.section-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  white-space: nowrap;
}

.bullet {
  color: #f10a0a;
  font-size: 30;
}

.view-all-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-right: 100px;
  margin-top: 10px;
}

.movie-grid {
  display: flex; 
  flex-wrap: wrap; 
  gap: 27px;
}

/* === RESPONSIVE === */
@media (max-width: 768px) {
  .movie-grid {
    gap: 16px;
    justify-content: center;
  }
}