.sidebar-container {
  display: flex;
  flex-direction: column;
  gap: 2px
}

.sidebar-section {
  width: 90%;
  margin-left: -90px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-title { 
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-top: 50px;  
}

.sidebar-view-all {
  color: white;
  font-size: 16px;
  margin-top: 50px;
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar-card {
  display: block;
  width: 256px;
  border-radius: 8px;
  overflow: hidden;
  margin-right: 50px;
  margin-top: 15px;
  transition: transform 0.3s ease;
}

.sidebar-card:hover {
  transform: scale(1.05); 
}

/* Style cho ảnh KHUYẾN MÃI */
.sidebar-promo-image {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
}

/* Style cho ảnh SỰ KIỆN */
.sidebar-event-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  /* Chuyển danh sách dọc thành lưới 2 cột trên màn hình nhỏ */
  .sidebar-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
  }
}